*.log filter=lfs diff=lfs merge=lfs -text
blockdiscovery/output_26_3_structured_full filter=lfs diff=lfs merge=lfs -text
blockdiscovery/output_26_3_structured_p1_30 filter=lfs diff=lfs merge=lfs -text
